head
	meta(charset="utf-8")
	title Rest Easy - Todo List

body
	div(id="content")
		h1 Press the button to make an AJAX call
		h3 Check your console window to see the response.
		button(type="button", onclick="loadChanges()") Call
	script(src="./scripts/todo.js") 